<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-container">
        <form class="contact-form" id="form">
            <h1>Форма</h1>
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Ім'я" required>
            </div>
            <div class="form-group">
                <input type="tel" id="phone" name="phone" placeholder="Номер телефону" required>
            </div>
            <button type="submit">Надіслати</button>
        </form>
    </div>

    <script src="scirpt.js"></script>
</body>
</html>
