/*author sebassservice757 10.01.2023*/
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	z-index:50;
	position:relative;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.row{
	display:-ms-flexbox !important;
	display:flex !important;
	-ms-flex-wrap:wrap !important;
	flex-wrap:wrap !important;
}
.z-index-absolute{
	z-index:999999 !important;
}
.height-auto{
	height:auto !important;
}
.cursor-pointer{
	cursor:pointer !important;
}
.container-fluid{
	width:100% !important;
}
.overflow-hidden{
	overflow:hidden !important;
}
.overflow-visible{
	overflow:visible !important;
}
.overflow-scroll{
	overflow:scroll !important;
}
.overflow-x-hidden{
	overflow-x:hidden !important;
}
.overflow-x-scroll{
	overflow-x:scroll !important;
}
.overflow-y-hidden{
	overflow-y:hidden !important;
}
.overflow-y-visible{
	overflow-y:visible !important;
}
.overflow-y-scroll{
	overflow-y:scroll !important;
}
.overflow-x-auto{
	overflow-x:auto !important;
}
.overflow-y-auto{
	overflow-y:auto !important;
}
.p-auto{
	padding:auto !important;
}
.m-auto{
	margin:auto !important;
}
.mv-auto{
	margin-top:auto !important;
	margin-bottom:auto !important;
}
.mh-auto{
	margin-left:auto !important;
	margin-right:auto !important;
}
.p-0{
	padding:0 !important;
}
.m-0{
	margin:0 !important;
}
.pl-0{
	padding-left:0 !important;
}
.pr-0{
	padding-right:0 !important;
}
.pb-0{
	padding-bottom:0 !important;
}
.pt-0{
	padding-top:0 !important;
}
.mt-0{
	margin-top:0 !important;
}
.mb-0{
	margin-bottom:0 !important;
}
.ml-0{
	margin-left:0 !important;
}
.mr-0{
	margin-right:0 !important;
}
.text-center{
	text-align:center !important;
}
.text-left{
	text-align:left !important;
}
.text-right{
	text-align:right !important;
}
.justify-content-start{
	justify-content:start !important;
}
.justify-content-end{
	justify-content:end	!important;
}
.justify-content-center{
	justify-content:center !important;
}
.justify-content-space-between{
	justify-content:space-between !important;
}
.justify-content-space-around{
	justify-content:space-around !important;
}
.justify-content-space-evenly{
	justify-content:space-evenly !important;
}
.align-content-start{
	align-content:start;
}
.align-content-center{
	align-content:center;
}
.align-content-space-between{
	align-content:space-between;
}
.align-content-space-around{
	align-content:space-around;
}
.align-items-flex-start{
	align-items:flex-start !important;
}
.align-items-flex-end{
	align-items:flex-end !important;
}
.align-items-center{
	align-items:center !important;
}
.align-items-baseline{
	align-items:baseline !important;
}
.align-items-scretch{
	align-items:scretch !important;
}
.position-relative{
	position:relative !important;
}
.position-absolute{
	position:absolute !important;
}
.position-fixed{
	position:fixed !important;
}
.d-block{
	display:block !important;
}
.d-inline{
	display:inline !important;
}
.d-run-in{
	display:run-in !important;
}
.d-flow{
	display:flow !important;
}
.d-flow-root{
	display:flow-root !important;
}
.d-table{
	display:table !important;
}
.d-flex{
	display:flex !important;
}
.d-grid{
	display:grid !important;
}
.d-ruby{
	display:ruby !important;
}
.d-block-flow{
	display:block-flow !important;
}
.d-inline-table{
	display:inline-table !important;
}
.d-flex-run-in{
	display:flex run-in !important;
}
.d-list-item{
	display:list-item !important;
}
.d-list-item-block{
	display:list-item block !important;
}
.d-list-item-inline{
	display:list-item inline !important;
}
.d-list-item-flow{
	display:list-item flow !important;
}
.d-list-item-flow-root{
	display:list-item flow-root !important;
}
.d-list-item-block-flow{
	display:list-item block flow !important;
}
.d-list-item-block-slow-root{
	display:list-item block flow-root !important;
}
.d-flow-list-item-block{
	display:flow list-item block !important;
}
.d-table-row-group{
	display:table-row-group !important;
}
.d-table-header-group{
	display:table-header-group !important;
}
.d-table-footer-group{
	display:table-footer-group !important;
}
.d-table-row{
	display:table-row !important;
}
.d-table-cell{
	display:table-cell !important;
}
.d-table-column-group{
	display:table-column-group !important;
}
.d-table-column{
	display:table-column !important;
}
.d-table-caption{
	display:table-caption !important;
}
.d-ruby-base{
	display:ruby-base !important;
}
.d-ruby-text{
	display:ruby-text !important;
}
.d-ruby-base-container{
	display:ruby-base-container !important;
}
.d-ruby-text-container{
	display:ruby-text-container !important;
}
.d-contents{
	display:contents !important;
}
.d-none{
	display:none !important;
}
.d-inline-block{
	display:inline-block !important;
}
.d-inline-table{
	display:inline-table !important;
}
.d-inline-flex{
	display:inline-flex !important;
}
.d-inline-grid{
	display:inline-grid !important;
}
.flex-direction-column{
	flex-direction:column !important;
}
.flex-direction-column-reverse{
	flex-direction:column-reverse !important;
}
.flex-direction-row-reverse{
	flex-direction:row-reverse !important;
}
.flex-direction-row{
	flex-direction:row !important;
}
.flex-wrap-nowrap{
	flex-wrap:nowrap !important;
}
.flex-wrap-wrap{
	flex-wrap:wrap !important;
}
.flex-wrap-wrap-reverse{
	flex-wrap:wrap-reverse !important;
}
.j-c-c{
	justify-content:center !important;
}
.j-c-s-e{
	justify-content:space-evenly !important;
}
.j-c-s-b{
	justify-content:space-between !important;
}
.a-i-c{
	align-items:center !important;
}
.a-i-s{
	align-items:scretch !important;
}
.a-i-f-s{
	align-items:flex-start !important;
}
.a-c-f-s{
	align-content:flex-start !important;
}
.a-c-s-b{
	align-content:space-between !important;
}


.col-1{
	width:4.1666% !important;
}
.col-2{
	width:8.3332% !important;
}
.col-3{
	width:12.4998% !important;
}
.col-4{
	width:16.6664% !important;
}
.col-5{
	width:20.8330% !important;
}
.col-6{
	width:24.9996% !important;
}
.col-7{
	width:29.1662% !important;
}
.col-8{
	width:33.3328% !important;
}
.col-9{
	width:37.4994% !important;
}
.col-10{
	width:41.666% !important;
}
.col-11{
	width:45.8326% !important;
}
.col-12{
	width:49.9992% !important;
}
.col-13{
	width:54.1658% !important;
}
.col-14{
	width:58.3324% !important;
}
.col-15{
	width:62.4990% !important;
}
.col-16{
	width:66.6656% !important;
}
.col-17{
	width:70.8322% !important;
}
.col-18{
	width:74.9988% !important;
}
.col-19{
	width:79.1654% !important;
}
.col-20{
	width:83.332% !important;
}
.col-21{
	width:87.4986% !important;
}
.col-22{
	width:91.6652% !important;
}
.col-23{
	width:95.8318% !important;
}
.col-24{
	width:100% !important;
}


/*.sm-enable{
	display:none !important;
}*/
@media screen and (min-width:650px) and (max-width:799px){
	.sm-disabled{
		display:none !important;
	}
}
@media screen and (min-width:650px){
	.sm-enable{
		display:flex !important;
	}
	.col-sm-1{
		width:4.1666% !important;
	}
	.col-sm-2{
		width:8.3332% !important;
	}
	.col-sm-3{
		width:12.4998% !important;
	}
	.col-sm-4{
		width:16.6664% !important;
	}
	.col-sm-5{
		width:20.8330% !important;
	}
	.col-sm-6{
		width:24.9996% !important;
	}
	.col-sm-7{
		width:29.1662% !important;
	}
	.col-sm-8{
		width:33.3328% !important;
	}
	.col-sm-9{
		width:37.4994% !important;
	}
	.col-sm-10{
		width:41.666% !important;
	}
	.col-sm-11{
		width:45.8326% !important;
	}
	.col-sm-12{
		width:49.9992% !important;
	}
	.col-sm-13{
		width:54.1658% !important;
	}
	.col-sm-14{
		width:58.3324% !important;
	}
	.col-sm-15{
		width:62.4990% !important;
	}
	.col-sm-16{
		width:66.6656% !important;
	}
	.col-sm-17{
		width:70.8322% !important;
	}
	.col-sm-18{
		width:74.9988% !important;
	}
	.col-sm-19{
		width:79.1654% !important;
	}
	.col-sm-20{
		width:83.332% !important;
	}
	.col-sm-21{
		width:87.4986% !important;
	}
	.col-sm-22{
		width:91.6652% !important;
	}
	.col-sm-23{
		width:95.8318% !important;
	}
	.col-sm-24{
		width:100% !important;
	}
	.sm-j-c-c{
		justify-content:center !important;
	}
	.sm-a-i-c{
		align-items:center !important;
	}
	.sm-j-c-unset{
		justify-content:unset !important;
	}
	.sm-a-i-unset{
		align-items:unset !important;
	}
}


/*.l-md-enable{
	display:none !important;
}*/
@media screen and (min-width:800px) and (max-width:999px){
	.l-md-disabled{
		display:none !important;
	}
}
@media screen and (min-width:800px){
	.l-md-enable{
		display:flex !important;
	}
	.col-l-md-1{
		width:4.1666% !important;
	}
	.col-l-md-2{
		width:8.3332% !important;
	}
	.col-l-md-3{
		width:12.4998% !important;
	}
	.col-l-md-4{
		width:16.6664% !important;
	}
	.col-l-md-5{
		width:20.8330% !important;
	}
	.col-l-md-6{
		width:24.9996% !important;
	}
	.col-l-md-7{
		width:29.1662% !important;
	}
	.col-l-md-8{
		width:33.3328% !important;
	}
	.col-l-md-9{
		width:37.4994% !important;
	}
	.col-l-md-10{
		width:41.666% !important;
	}
	.col-l-md-11{
		width:45.8326% !important;
	}
	.col-l-md-12{
		width:49.9992% !important;
	}
	.col-l-md-13{
		width:54.1658% !important;
	}
	.col-l-md-14{
		width:58.3324% !important;
	}
	.col-l-md-15{
		width:62.4990% !important;
	}
	.col-l-md-16{
		width:66.6656% !important;
	}
	.col-l-md-17{
		width:70.8322% !important;
	}
	.col-l-md-18{
		width:74.9988% !important;
	}
	.col-l-md-19{
		width:79.1654% !important;
	}
	.col-l-md-20{
		width:83.332% !important;
	}
	.col-l-md-21{
		width:87.4986% !important;
	}
	.col-l-md-22{
		width:91.6652% !important;
	}
	.col-l-md-23{
		width:95.8318% !important;
	}
	.col-l-md-24{
		width:100% !important;
	}
	.l-md-j-c-c{
		justify-content:center !important;
	}
	.l-md-a-i-c{
		align-items:center !important;
	}
	.l-md-j-c-unset{
		justify-content:unset !important;
	}
	.l-md-a-i-unset{
		align-items:unset !important;
	}
}


/*.md-enable{
	display:none !important;
}*/
@media screen and (min-width:1000px) and (max-width:1199px){
	.md-disabled{
		display:none !important;
	}
}
@media screen and (min-width:1000px){
	.md-enable{
		display:flex !important;
	}
	.col-md-1{
		width:4.1666% !important;
	}
	.col-md-2{
		width:8.3332% !important;
	}
	.col-md-3{
		width:12.4998% !important;
	}
	.col-md-4{
		width:16.6664% !important;
	}
	.col-md-5{
		width:20.8330% !important;
	}
	.col-md-6{
		width:24.9996% !important;
	}
	.col-md-7{
		width:29.1662% !important;
	}
	.col-md-8{
		width:33.3328% !important;
	}
	.col-md-9{
		width:37.4994% !important;
	}
	.col-md-10{
		width:41.666% !important;
	}
	.col-md-11{
		width:45.8326% !important;
	}
	.col-md-12{
		width:49.9992% !important;
	}
	.col-md-13{
		width:54.1658% !important;
	}
	.col-md-14{
		width:58.3324% !important;
	}
	.col-md-15{
		width:62.4990% !important;
	}
	.col-md-16{
		width:66.6656% !important;
	}
	.col-md-17{
		width:70.8322% !important;
	}
	.col-md-18{
		width:74.9988% !important;
	}
	.col-md-19{
		width:79.1654% !important;
	}
	.col-md-20{
		width:83.332% !important;
	}
	.col-md-21{
		width:87.4986% !important;
	}
	.col-md-22{
		width:91.6652% !important;
	}
	.col-md-23{
		width:95.8318% !important;
	}
	.col-md-24{
		width:100% !important;
	}
	.md-j-c-c{
		justify-content:center !important;
	}
	.md-a-i-c{
		align-items:center !important;
	}
	.md-j-c-unset{
		justify-content:unset !important;
	}
	.md-a-i-unset{
		align-items:unset !important;
	}
}


@media screen and (max-width:1499px) and (min-width:1200px){
	.lg-disabled{
		display:none !important;
	}
}
@media screen and (min-width:1200px){
	.lg-enable{
		display:flex !important;
	}
	.col-lg-1{
		width:4.1666% !important;
	}
	.col-lg-2{
		width:8.3332% !important;
	}
	.col-lg-3{
		width:12.4998% !important;
	}
	.col-lg-4{
		width:16.6664% !important;
	}
	.col-lg-5{
		width:20.8330% !important;
	}
	.col-lg-6{
		width:24.9996% !important;
	}
	.col-lg-7{
		width:29.1662% !important;
	}
	.col-lg-8{
		width:33.3328% !important;
	}
	.col-lg-9{
		width:37.4994% !important;
	}
	.col-lg-10{
		width:41.666% !important;
	}
	.col-lg-11{
		width:45.8326% !important;
	}
	.col-lg-12{
		width:49.9992% !important;
	}
	.col-lg-13{
		width:54.1658% !important;
	}
	.col-lg-14{
		width:58.3324% !important;
	}
	.col-lg-15{
		width:62.4990% !important;
	}
	.col-lg-16{
		width:66.6656% !important;
	}
	.col-lg-17{
		width:70.8322% !important;
	}
	.col-lg-18{
		width:74.9988% !important;
	}
	.col-lg-19{
		width:79.1654% !important;
	}
	.col-lg-20{
		width:83.332% !important;
	}
	.col-lg-21{
		width:87.4986% !important;
	}
	.col-lg-22{
		width:91.6652% !important;
	}
	.col-lg-23{
		width:95.8318% !important;
	}
	.col-lg-24{
		width:100% !important;
	}
	.lg-j-c-c{
		justify-content:center !important;
	}
	.lg-a-i-c{
		align-items:center !important;
	}
	.lg-j-c-unset{
		justify-content:unset !important;
	}
	.lg-a-i-unset{
		align-items:unset !important;
	}
}


@media screen and (min-width:1500px){
	.ex-lg-disabled{
		display:none !important;
	}
}
@media screen and (min-width:1500px){
	.ex-lg-enable{
		display:flex !important;
	}
	.col-ex-lg-1{
		width:4.1666% !important;
	}
	.col-ex-lg-2{
		width:8.3332% !important;
	}
	.col-ex-lg-3{
		width:12.4998% !important;
	}
	.col-ex-lg-4{
		width:16.6664% !important;
	}
	.col-ex-lg-5{
		width:20.8330% !important;
	}
	.col-ex-lg-6{
		width:24.9996% !important;
	}
	.col-ex-lg-7{
		width:29.1662% !important;
	}
	.col-ex-lg-8{
		width:33.3328% !important;
	}
	.col-ex-lg-9{
		width:37.4994% !important;
	}
	.col-ex-lg-10{
		width:41.666% !important;
	}
	.col-ex-lg-11{
		width:45.8326% !important;
	}
	.col-ex-lg-12{
		width:49.9992% !important;
	}
	.col-ex-lg-13{
		width:54.1658% !important;
	}
	.col-ex-lg-14{
		width:58.3324% !important;
	}
	.col-ex-lg-15{
		width:62.4990% !important;
	}
	.col-ex-lg-16{
		width:66.6656% !important;
	}
	.col-ex-lg-17{
		width:70.8322% !important;
	}
	.col-ex-lg-18{
		width:74.9988% !important;
	}
	.col-ex-lg-19{
		width:79.1654% !important;
	}
	.col-ex-lg-20{
		width:83.332% !important;
	}
	.col-ex-lg-21{
		width:87.4986% !important;
	}
	.col-ex-lg-22{
		width:91.6652% !important;
	}
	.col-ex-lg-23{
		width:95.8318% !important;
	}
	.col-ex-lg-24{
		width:100% !important;
	}
	.ex-lg-j-c-c{
		justify-content:center !important;
	}
	.ex-lg-a-i-c{
		align-items:center !important;
	}
	.ex-lg-j-c-unset{
		justify-content:unset !important;
	}
	.ex-lg-a-i-unset{
		align-items:unset !important;
	}
}