@import "vars";
@import "mixins";

.additional-services {
    position: relative;
    @include size(70, margin-top);

    &__inner {
        @include size(60, padding);
        @include size(130, margin-top);
        background-color: $dark-blue-bg;
        position: relative;
        @include size(30, border-radius);

        &-top {
            @include size(240, width);
            @include size(140, height);
            @include size(-80, top);
            
            border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
            background-color: $dark-blue-bg;
            
            left: 50%;
            position: absolute;
            transform: translateX(-50%);

            display: flex;
            justify-content: center;

            .arrow {
                img {
                    @include size(30, width);
                    @include size(45, height);
                }
            }

            .rotated_text {
                @include size(150, width, height);
                @include size(20, margin-top);

                .circle-text {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    animation: rotateText 12s linear infinite;

                    text {
                        font-size: 6.5px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        fill: rgb(255, 255, 255);
                    }
                }
            }
        }
    }

    &__title {
        @include size(80, font-size);
        @include size(45, margin-top);
        text-align: center;
        font-weight: bold;
    }

    &__services {
        display: flex;
        @include size(50, margin-top);
        @include size(60, column-gap);
        
    }

    &__service {
        @include size(35, padding);
        @include size(36, border-radius);

        background-color: $block-color;
        color: #000;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include size(35, row-gap);
        transition: all .3s;
        
        .service { 
            &__top {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__title {
                @include size(31, font-size);
                font-weight:600;
                @include size(300, max-width);
                @include size(40, line-height);
            }
            &__icon {
                position: absolute;
                @include size(15, top);
                @include size(15, right);
                @include size(90, width, height);
                border-color: #000;

                img {
                    
                }
            }
            &__text { 
                @include size(25, font-size);
            }
            &__button { 
                @include orangeBtn(36, 291, 64);
                font-weight: 500;
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    &__bottom {
        margin: 0 auto;
        @include size(40, font-size);
        font-weight: 700;
        color: #fff;
        @include size(70, line-height);
        @include size(85, margin-top);
        @include size(1352, max-width);
    }
}

@media screen and (max-width: 480px) {
    .additional-services {
        @include size(10, margin-top);
        @include size(25, padding-bottom);
    
        &__inner {
            @include size(20, padding);
            @include size(50, margin-top);
            @include size(20, border-radius);
    
            &-top {
                @include size(130, width);
                @include size(75, height);
                @include size(-30, top);
                
                .arrow {
                    img {
                        @include size(22, width);
                        @include size(30, height);
                    }
                }

                .rotated_text {
                    @include size(80, width, height);
                    @include size(15, margin-top);
    
                    .circle-text {
                        text {
                            font-size: 6.5px;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }     

        &__title {
            @include size(25, font-size);
            @include size(50, margin-top);
            max-width: 80vw;
            margin: 0 auto;
        }
    
        &__services {
            @include size(15, margin-top);
            @include size(30, row-gap);
            @include size(380, max-width);
            flex-direction: column;
            column-gap: 0;
            margin: 0 auto;
            
        }

        &__service {
            @include size(15, padding-top, padding-bottom);
            @include size(20, padding-left, padding-right);
            @include size(16, border-radius);
            @include size(20, row-gap);
    
            .service { 
                &__top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &__title {
                    @include size(18, font-size);
                    @include size(250, max-width);
                    @include size(18, line-height);
                }
                &__icon {
                    @include size(10, top);
                    @include size(40, width, height);
    
                    img {
                        @include size(14, width);
                        @include size(16, height);
                    }
                }
                &__text { 
                    @include size(14, font-size);
                }
                &__button { 
                    @include orangeBtn(14, 328, 31);
                    font-weight: 400;
                }
            }
        }

        &__bottom {
            display: none;
        }
    }
}