@import "vars";
@import "mixins";

.advantages {
    background-color: $dark-blue-bg;
    @include size(50, padding-left, padding-right);
    @include size(90, padding-top, padding-bottom);
    @include size(80, border-radius);
    @include size(80, margin-top);

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
            @include size(44, font-size);
            @include size(70, line-height);
            @include size(854, max-width);
            font-weight: bold;
        } 

        &__btn { 
            display: flex;
            transition: all .3s;
            span {
                @include orangeBtn(31, 487, 94, false);
            }
            &:hover {
                transform: scale(1.05);
            }

            &.mobile {
                display: none;
            }
        }
    }

    &-items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        @include size(80, margin-top);
        @include size(40, gap);

        .advantages-item {
            @include size(25, padding);
            border: 1px solid $block-color;
            @include size(38, border-radius);

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__title { 
                @include size(30, font-size);
                @include size(33, line-height);
                font-weight: bold;
            }

            &__text {
                @include size(40, margin-top);
                @include size(24, font-size);
             }

            &__number {
                @include size(60, font-size);
                @include size(98, line-height);
                font-weight: bold;
            }

            &.large {
                border: none;
                border-radius: 0;
                padding: 0;

                grid-column: 3;
                grid-row: 2/4;

                img {
                    @include size(40, border-radius);
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            &.highlight {
                border: 0;
                background-color: $block-color;
                color: #000;

            }
        }
    }

    &-bottom {
        @include size(100, margin-top);
        &__inner {
            p {
                @include size(43, font-size);
                span {
    
                }
            }
    
            .flex {
                display: flex;
                justify-content: center;
                @include size(50, column-gap);
                p {
                    white-space: nowrap;
                }
                img {
                    @include size(370, width);
                    @include size(30, height);
                    align-self: flex-end;
                    position: relative;
                    @include size(6, top);
                }
            }
        }
        
    }
}

@media screen and (max-width: 480px) {
    .advantages {
        background-color: $dark-blue-bg;
        @include size(25, padding, border-radius);
        @include size(30, margin-top);
    
        &-header {
            justify-content: center;
            text-align: center;
            &__title {
                @include size(18, font-size);
                @include size(28, line-height);
                @include size(350, max-width);
            } 
    
            &__btn { 
                display: none;

                &.mobile {
                    display: flex;
                    justify-content: center;
                    @include size(30, margin-top);
                    
                    span {
                        @include orangeBtn(14, 181, 41, false);
                    }
                }
            }
        }
    
        &-items {
            @include size(10, margin-top);
            grid-template-columns: repeat(2, minmax(0, 1fr));
            @include size(25, gap);
    
            .advantages-item {
                position: relative;
                @include size(10, padding);
                border: 1px solid $block-color;
                @include size(14, border-radius);
    
                &__header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
                &__title { 
                    @include size(10, font-size);
                    @include size(17, line-height);
                    font-weight: bold;
                    text-transform: uppercase;
                    @include size(120, max-width);
                }
    
                &__text {
                    @include size(5, margin-top);
                    @include size(10, font-size);
                 }
    
                &__number {
                    @include size(25, font-size);
                    line-height: 100%;
                    position: absolute;
                    top: 5px;
                    right: 5px;

                }
    
                &.large {
                    grid-column: 2;
                    grid-row: 3/6;
    
                    img {
                        @include size(10, border-radius);
                    }
                }
            }
        }

        &-bottom {
            display: none;
        }
    }
}