@import "vars";
@import "mixins";

.gtranslate_wrapper {
    display: flex;
    @include size(20, column-gap);
    
    .glink {
        &.nturl {
            @include size(30, font-size);
            font-weight: bold;
            &.notranslate {
    
            }
            &.gt-current-lang {
                color: $orange;
            }
        } 
    }

    &.mobile {
        display: none;
    }
}


.header {
    background-image: url("../assets/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(42, 52, 80, 0.7);
        @include size(40, border-radius);
        @include size(25, padding-top, padding-bottom);
        @include size(30, padding-left, padding-right);
        @include size(80, margin-top);
    }

    &-logo {
        display: flex;
        align-items: center;
        img {
            @include size(303, width);
            @include size(67, height);
        }
    }

    &-menu {
        ul {
            display: flex;
            li {
                display: flex;
                align-items: center;

                a {
                    @include size(31, font-size);
                    transition: all 0.3s;
                    &:hover {
                        color: $gray;
                    }
                }

                &:not(:last-child)::after {
                    content: "";
                    display: inline-block;
                    margin: 0;
                    @include size(20, margin-right, margin-left);
                    @include size(16, width, height);
                    background-color: $orange;
                    border-radius: 100%;
                }
            }
        }
    }

    &-bottom {
        @include size(95, margin-top);

        &-block {
            @include size(100, margin-top, margin-bottom);
        }
    }

    &-texts {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-text {
        @include size(31, font-size);
        @include size(620, max-width);
        font-weight: 500;
        transform-style: preserve-3d !important;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) translateZ(-1px);
            @include size(737, width);
            @include size(395, height);
            background-image: url("../assets/images/text-shadow.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            animation: animateBefore 5s ease-in-out forwards;
        }
    }

    &-image {
        position: relative;
        
        &-main { // man image
            width: 50vw;
        }

        a {
            position: absolute;
            top: 0;
            @include size(25, right);

            display: flex;
            align-items: center;
            transition: all .3s;

            span {
                @include orangeBtn(31, 386, 94, false);
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@keyframes animateBefore {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    .gtranslate_wrapper {
        display: none;
        @include size(10, column-gap);
        
        .glink {
            &.nturl {
                @include size(16, font-size);
            } 
        }
    
        &.mobile {
            display: flex;
        }
    }

    .header {
        &-top {
            border-radius: 0;
            padding: 0;
            margin-top: 40px;
            background: none;
            flex-direction: column;
            align-items: start;
        }
    
        &-logo {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 20px;

            &-wrapper {
                padding: 0 10px;
                img {
                    @include size(136, width);
                    @include size(30, height);
                }
    
                transform-style: preserve-3d;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) translateZ(-1px);
                    @include size(167, width);
                    @include size(97, height);
                    background-image: url("../assets/images/text-shadow.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    opacity: 0.7;
                }
            }
            

            
        }
    
        &-menu {
            background-color: rgba(42, 52, 80, 0.7);
            border-radius: 10px;
            padding: 15px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            @include size(18, margin-top);
            
            ul {
                li {
                    a {
                        @include size(13, font-size);
                    }
    
                    &:not(:last-child)::after {
                        @include size(8, margin-right, margin-left);
                        @include size(4, width, height);
                    }
                }
            }
        }
    
        &-bottom {
            margin-top: 33px;

            &-block {
                margin: 30px auto;   
            }
        }
    
        &-texts {
            flex-direction: column;
            row-gap: 30px;
        }
    
        &-text {
            @include size(14, font-size);
            max-width: 100%;

            &::before {
                content: "";
                @include size(400, width);
                @include size(200, height);
                background-size: contain;
            }
        }
    
        &-image {
            &-main { // man image
                width: 100%;
            }
    
            a {
                @include size(15, right);
                span {
                    @include size(14, font-size);
                    @include size(171, width);
                    @include size(41, height);
                }
            }
        }
    }
}

.footer{
    @include size(110, margin-top);
    @include size(230, padding-bottom);

    &-blocks {
        display: flex;
        @include size(60, column-gap);
    }

    &-block {
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        @include size(545, width);
        @include size(357, height);
        @include size(20, padding);

        .arrow, &.arrow {
            @include size(85, width, height);
            
        }

        &__title {
            @include size(35, font-size);
            @include size(70, line-height);
            font-weight: bold;
        }
        &__content {
            @include size(50, margin-top);
            @include size(440, max-width);
        }
        &__link {
            @include size(35, font-size);
            @include size(50, line-height);
        }
        &__icons {
            position: absolute;
            top: 0;
            @include size(30, right);
            display: flex;
            @include size(30, column-gap);
        } 
        &__links {
            display: flex;
            @include size(32, column-gap);

            img {
                @include size(40, width, height);
            }
        }

        &.block1 {
            background-image: url("../assets/images/footer-block-1.png");
        }
        &.block2 {
            background-image: url("../assets/images/footer-block-2.png");

        }
        &.block3 {
            background-image: url("../assets/images/footer-block-3.png");
        }
    }



}


@media screen and (max-width: 480px) {
    .footer{
        @include size(35, margin-top);
        @include size(60, padding-bottom);
    
        &-blocks {
            @include size(15, column-gap);
        }
    
        &-block {
            @include size(138, width);
            @include size(94, height);
            @include size(10, padding);
    
            .arrow, &.arrow {
                @include size(23, width, height);
                
            }
    
            &__title {
                @include size(10, font-size);
                @include size(20, line-height);
            }
            &__content {
                @include size(20, margin-top);
                @include size(115, max-width);
            }
            &__link {
                @include size(9, font-size);
                @include size(15, line-height);
            }
            &__icons {
                top: 0;
                @include size(5, right);
                @include size(5, column-gap);

                img {
                    @include size(12, width, height);
                }
            } 
            &__links {
                @include size(8, column-gap);
    
                img {
                    @include size(12, width, height);
                }
            }
    
            
            &.block3 {
                background-image: url("../assets/images/footer-block-3.png");
                .footer-block__content {
                    @include size(5, margin-top);
                }
            }
        }
    
    
    
    }    
}
