@import "vars";
@import "mixins";


.header {
    background-image: url("../assets/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(42, 52, 80, 0.7);
        @include size(40, border-radius);
        padding: 25px 30px;
        @include size(80, margin-top);
    }

    &-logo {
        display: flex;
        align-items: center;
        img {
            @include size(481, width);
            @include size(108, height);
        }
    }

    &-menu {
        ul {
            display: flex;
            li {
                display: flex;
                align-items: center;

                a {
                    @include size(30, font-size);
                    transition: all 0.3s;
                    &:hover {
                        color: $gray;
                    }
                }

                &:not(:last-child)::after {
                    content: "";
                    display: inline-block;
                    margin: 0;
                    @include size(20, margin-right, margin-left);
                    @include size(16, width, height);
                    background-color: $orange;
                    border-radius: 100%;
                }
            }
        }
    }

    &-bottom {
        @include size(95, margin-top);

        &-block {
            @include size(100, margin-top, margin-bottom);
        }
    }

    &-texts {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-text {
        @include size(31, font-size);
        @include size(620, max-width);
        font-weight: 500;
        transform-style: preserve-3d;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) translateZ(-1px);
            @include size(737, width);
            @include size(395, height);
            background-image: url("../assets/images/text-shadow.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &-image {
        position: relative;
        
        &-main { // man image
            width: 50vw;
        }

        a {
            position: absolute;
            top: 0;
            @include size(25, right);

            display: flex;
            align-items: center;
            transition: all .3s;

            span {
                @include orangeBtn(31, 386, 94, false);
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        &-top {
            border-radius: 0;
            padding: 0;
            margin-top: 40px;
            background: none;
            flex-direction: column;
        }
    
        &-logo {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;

            img {
                @include size(136, width);
                @include size(30, height);
            }
        }
    
        &-menu {
            background-color: rgba(42, 52, 80, 0.7);
            border-radius: 10px;
            padding: 15px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            @include size(18, margin-top);
            
            ul {
                li {
                    a {
                        @include size(12, font-size);
                    }
    
                    &:not(:last-child)::after {
                        @include size(5, margin-right, margin-left);
                        @include size(4, width, height);
                    }
                }
            }
        }
    
        &-bottom {
            margin-top: 33px;

            &-block {
                margin: 30px auto;   
            }
        }
    
        &-texts {
            flex-direction: column;
            row-gap: 30px;
        }
    
        &-text {
            @include size(14, font-size);
            max-width: 100%;

            &::before {
                content: "";
                @include size(400, width);
                @include size(200, height);
                background-size: contain;
            }
        }
    
        &-image {
            &-main { // man image
                width: 100%;
            }
    
            a {
                @include size(15, right);
                span {
                    @include size(14, font-size);
                    @include size(171, width);
                    @include size(41, height);
                }
            }
        }
    }
}