@import "vars";
@import "mixins";


.additional-services {
    position: relative;
    margin-top: 70px;

    &__inner {
        margin-top: 10vw;
        padding: 0px 65px 90px 65px;
    }

    &__bg {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .additional-services__title {
        @include size(90, font-size);
        text-align: center;
        font-weight: bold;
    }

    &__services {
        display: flex;
        margin-top: 50px;
        column-gap: 60px;
        
    }

    &__service {
        @include size(35, padding);
        // @include size(25, padding-top);
        // @include size(40, padding-bottom);
        @include size(36, border-radius);

        background-color: $block-color;
        color: #000;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include size(35, row-gap);

        .service { 
            &__top {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__title {
                @include size(31, font-size);
                font-weight:600;
                @include size(300, max-width);
                @include size(40, line-height);
            }
            &__icon {
                position: absolute;
                top: 15px;
                right: 15px;
                @include size(90, width, height);
                border-color: #000;

                img {
                    
                }
            }
            &__text { 
                @include size(25, font-size);
            }
            &__button { 
                @include orangeBtn(36, 291, 64);
                font-weight: 500;
            }
        }
    }
}