@import "keyframes";

@mixin size($amount, $properties...) {
    @each $property in $properties {
        #{$property}: calc($amount / 1920 * 100vw);

        // @media (max-width: 768px) {
        //     #{$property}: calc($amount / 768 * 100vw);
        // }

        @media (max-width: 480px) {
            #{$property}: calc($amount / 480 * 100vw);
        }
    }
}

@mixin orangeBtn($fontSize, $width, $height, $isHoverEnabled: true, $addBlick: false) {
    @include size($fontSize, font-size);
    @include size($width, width);
    @include size($height, height);
    
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $orange;
    border-radius: 100px;

    color: #fff;
    transition: all 0.3s;

    cursor: pointer;

    @if $isHoverEnabled {
        &:hover {
            transform: scale(1.05);
        }
    }

    @if $addBlick {
        position:relative;
        overflow:hidden;

        &::before {
            content: "";
            position: absolute;
            height: 150px;
            width: 20px;
            background : #fff;
            box-shadow: 0 0 30px 10px lighten($orange, 50%);
            left: -55px;
            top: -40px;
            transform: rotate(37deg);
            transition: all .5s;
            opacity: 0.3;
            animation: blickButton 1.5s ease-in-out infinite;
        }
    }
}

