@import "vars";
@import "mixins";

.work-process {
    @include size(80, margin-top);
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include size(145, column-gap);
        img {
            width: 100%;
        }

        .work-process-title {
            @include size(80, font-size);
            font-weight: bold;
        }
    }

    &-items {
        display: flex;
        flex-direction: column;
        @include size(65, row-gap);
        @include size(70, margin-top);

        .work-process-item {
            display: flex;
            width: 95%;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            background-color: $dark-blue-bg;
            border: 1px solid #fff;
            @include size(40, border-radius);
            @include size(20, padding-top, padding-bottom);
            @include size(100, padding-left, padding-right);
            @include size(65, column-gap);
            transition: all 0.3s;

            .item-number {
                @include size(90, font-size);
                color: $orange;
                font-weight: bold;
            }

            .item-text {
                @include size(31, font-size);
                font-weight: bold;
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 95%;
        background-color: $orange;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        @include size(31, font-size);
        @include size(25, padding-top, padding-bottom);
        @include size(40, border-radius);
        @include size(90, margin-top);
        transition: all 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width: 480px) {
    .work-process {
        @include size(35, margin-top);
        &-header {
            @include size(25, column-gap);
            .work-process-title {
                @include size(23, font-size);
            }
        }
    
        &-items {
            @include size(15, row-gap);
            @include size(20, margin-top);
    
            .work-process-item {
                @include size(10, border-radius);
                @include size(10, padding-top, padding-bottom);
                @include size(25, padding-left, padding-right);
                @include size(25, column-gap);
                width: 100%;
    
                .item-number {
                    @include size(23, font-size);
                }
    
                .item-text {
                    @include size(12, font-size);
                }
            }
        }
    
        &-btn {
            @include size(12, font-size);
            @include size(10, padding-top, padding-bottom);
            @include size(25, border-radius);
            @include size(25, margin-top);
            width: 100%;
        }
    }
}