@import "variables";

.footer{ 
    margin: 100px auto 60px auto;

    display: flex;
    justify-content: space-between;
    align-items: end;

    &__item {
        display: flex;
        flex-direction: column;
        font-family: $secondaryFont;
        opacity: .5;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: medium;
        a {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer{ 
        margin: 130px auto 30px auto;
    
        &__item {
            font-size: 12px;
            font-weight: 100;
        }
    }
}

@media screen and (max-width: 480px) {
}
