@import "variables";

.for-who__page {
    margin-top: 130px;
    &-title {
        margin-bottom: 70px;
        text-shadow: 2px 2px 10px $primaryColor;
    }
    &-items {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    &-item {
        padding: 55px 60px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 47px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        box-shadow: $innerGrayShadows;

        &-border {
            border: 3px solid $primaryColor;
            display: block;
        }

        &-title {
            font-size: 24px;
            font-weight: 900;

            display: flex;
            align-items: center;
            column-gap: 20px;

            &-border {
                padding: 15px 20px;
                border-radius: 20px;
                border: 3px solid #fff;
                width: fit-content;

                text-shadow:
                    0 0 72px $primaryColor,
                    0 0 36px #fff;
            }
            &-green {
                text-shadow: 0 0 17px $green;

                img {
                    filter: drop-shadow(0 0 17px $green) drop-shadow(0 0 5px $green);
                }
            }
            &-orange {
                text-shadow: 0 0 17px $primaryColor;

                img {
                    filter: drop-shadow(0 0 17px $primaryColor) drop-shadow(0 0 5px $primaryColor);
                }
            }
            &-red {
                text-shadow: 0 0 17px $red;

                img {
                    filter: drop-shadow(0 0 17px $red) drop-shadow(0 0 5px $red);
                }
            }
        }
    }
    &-divider {
        width: 50%;
        height: 3px;
        background-color: $primaryColor;
        margin: 25px 0 20px 0;
    }
    &-text {
        font-weight: lighter;
        font-size: 18px;
        span {
            color: $primaryColor;
        }
    }
    &-button {
        margin-top: 75px;
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    .for-who__page {
        margin-top: 100px;
        &-title {
            margin-bottom: 60px;
        }
        &-item {
            padding: 40px 25px;

            &-title {
                font-size: 16px;

                &-border {
                    padding: 15px;
                    margin: 0 auto;
                }
            }
        }
        &-divider {
            width: 100%;
            margin: 25px auto 20px auto;
        }
        &-text {
            font-size: 16px;
        }
        &-button {
            margin-top: 50px;
            width: 90%;
        }
    }
}
