$background: #000000;
$primaryColor: #ff7a00;
$primaryFont: "ua-brand";
$secondaryFont: "druk-cyr";
$primaryGradient: linear-gradient(34deg, rgba(255,122,0,1) 1%, rgba(254,180,59,1) 85%, rgba(255,243,214,1) 100%);
$innerGrayShadows: -50px 50px 50px 0 rgba(255, 255, 255, 0.1) inset, 50px -50px 50px 0 rgba(194, 194, 194, 0.1) inset; 
$orangeTextShadows: 0 0 34px $primaryColor, 0 0 17px $primaryColor;
$secondaryOrange: #FE7F0B;
$green: #11FF00;
$red: #FF0000;
